.page-header
  %h1 Welcome!

%h4 Your source for the best windshield sun shades available!

.well
  %center
    %p= image_tag("eazy_shade2_800px.jpg")

    %table
      %td.col-md-3
        %p= image_tag("temps2_250.jpg")
      %td.col-md-6
        %strong
          Eazy Shade is a marketing tool that lets your customers do your marketing for you while keeping their |
          car cool! Designed and developed by "not and engineer" Bobby Gibbs, the Eazy Shade provides thousands |
          of views by potential clients for a fraction of the price of traditional advertising. Eazy Shade is a |
          unique universal retractable windshield sunshade which can be imprinted with your logo, your slogan or |
          anything else you desire. What sets Eazy Shade apart is that it can be semi-permanently affixed to your |
          windshield yet can be easily moved to other vehicles. |
      %td.col-md-3
        %p= image_tag("temps4_250.jpg")








    -# %p http://www.kten.com/story/14907911/car-interiors-can-exceede-temperatures-of-150-degrees-during-summer
    -# %p http://gizmodo.com/how-hot-does-it-get-inside-a-parked-car-spoiler-so-f-654302290
