<div class="page-header">
  <h1>Custom Shades</h1>
<hr>

<div class="slider">
  <%= image_tag("redbull.jpg") %>
  <%= image_tag("gopro.jpg") %>
  <%= image_tag("apple.jpg") %>
  <%= image_tag("coke.jpg") %>
</div>
