
  <head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="sss.min.js"></script>
  <link rel="stylesheet" href="sss.css" type="text/css" media="all">
  <script>
  jQuery(function($) {
  $('.slider').sss();
  });
  </script>
  
  </head>
  <div class="slider">
    <img src="images/coke.jpg" />
    <img src="images/apple.jpg" />
    <img src="images/redbull.jpg" />
    <img src="images/gopro.jpg" />
    <img src="images/CO_logo.jpg" />
    <img src="images/sunglasses.jpg" />
    <img src="images/mountains.jpg" />
    <img src="images/broncos.jpg" />
    <img src="images/yankees.jpg" />
    <img src="images/CU.jpg" />
    <img src="images/us.jpg" />
  </div>
